<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>add a new post</h1>
    <p>{{request.user.username}}
    </p>
    <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        <p>title</p>
        <textarea rows='3' cols='150' name="title"></textarea>
        <p>context</p>
        <textarea rows='20' cols='150' name="content"></textarea>
        <p>img file
        </p>
        <input name="img" type="file" >
        <p>is published</p>
        <input name="is_piblished" value="True" type="checkbox">
        <input type="submit">
</form>
</body>
</html>